.postImage img{
    width: 100vw;
    height: 80vh;
}
.tickerWrap{
    position: relative;
    margin: auto;
    width: 100%;
   
    overflow: hidden;
}
.bigHeading{
    position:absolute;
    font-size: 25px;
    text-transform: uppercase;
    background-color: red;
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px;
    letter-spacing: 3px;
    font-style: italic;
    z-index: 2;
}
.bigHeading::after,
.bigHeading::before{
    content: "";
    width: 0;
    position:absolute;
    border-width: 51px;
    border-style: solid;
    top: 0;
    z-index: -1;

}
.bigHeading::before{
    border-color: red transparent transparent transparent;
    right: -50px;

}
.bigHeading::after{
    border-color:  transparent transparent  red transparent;
    left: -51px;
    top: -51px;

}
.textUpdate{
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    left: 125px;

}
.textUpdate p{
    width: 150%;
    position:absolute;
    align-items: center;
    margin: 0;
    text-align: left;
    transform: translateX(100%);
    animation: moving 25s linear 4s infinite;
   
}
@keyframes moving{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@media screen and (max-width: 720px) {
    .bigHeading{
        position:absolute;
        font-size: 20px;
        text-transform: uppercase;
        background-color: red;
        color: white;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 5px;
      
        font-style: italic;
        z-index: 2;
    }
    .bigHeading::after,
    .bigHeading::before{
        content: "";
        width: 0;
        position:absolute;
        border-width: 41px;
        border-style: solid;
        top: 0;
        z-index: -1;
    
    }
    .bigHeading::before{
        border-color: red transparent transparent transparent;
        right: -41px;
    
    }
    .bigHeading::after{
        border-color:  transparent transparent  red transparent;
        left: -41px;
        top: -51px;
    
    }
    .textUpdate{
        height: 40px;
        background-color: blue;
        color: white;
        /* font-size: 18px; */
        font-weight: 500;
        text-transform: uppercase;
        
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        left: 105px;
    
    }
    .textUpdate p{
        width: 650%;
        position:absolute;
        align-items: center;
        margin: 0;
        text-align: left;
        transform: translateX(100%);
        animation: moving 25s linear 4s infinite;
       
    }
  }